- name: Set permissions on mount point
  become: yes
  file:
    path: /mnt/nfs
    state: directory
    owner: www-data
    group: www-data
    mode: "0777"

- name: Set permissions on logs folder
  become: yes
  file:
    path: /mnt/nfs/{{ logs_path }}
    state: directory
    owner: www-data
    group: www-data
    mode: "0777"