<!DOCTYPE html>
<html>
<head>

	<title>Jonathan Polansky | System Administrator | jon@jon-polansky.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="../static/css/resetfontsgrids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="../static/css/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Jonathan Polansky</h1>
					<h2>System Administrator</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="/JonathanPolanskyResume.docx" download>Download Resume</a></h3>
						<h3><a href="mailto:jon@jon-polansky.com">jon@jon-polansky.com</a></h3>
						<h3>(631) - 662-6400</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Dedicated and experienced IT professional with a proven track record in project management, infrastructure deployment, and client onboarding. Skilled in leveraging modern technologies to streamline processes and deliver efficient solutions.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Infrastructure Deployment</h2>
									<p>Proficient in deploying and managing IT infrastructure, including servers, networks, and cloud environments, to meet business needs efficiently.</p>
								</div>

								<div class="talent">
									<h2>Project Management</h2>
									<p>Experienced in leading and coordinating projects from inception to completion, ensuring timely delivery and alignment with organizational objectives.</p>
								</div>

								<div class="talent">
									<h2>Technical Automation</h2>
									<p>Skilled in leveraging automation tools and scripting languages to streamline processes and enhance productivity in IT operations and development workflows.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Networking</li>
								<li>Cloud Computing</li>
								<li class="last">Virtualization</li>
							</ul>

							<ul class="talent">
								<li>Automation</li>
								<li>Scripting</li>
								<li class="last">Security</li>
							</ul>

							<ul class="talent">
								<li>Infrastructure</li>
								<li>Deployment</li>
								<li class="last">Monitoring</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Edge Technology Group / Thrive Networks</h2>
								<h3>Systems Administrator</h3>
								<h4>March 2023 - Present</h4>
								<ul>
									<li>Act as an escalation point for resolving issues with various software such as Microsoft Office 365 applications and add-ins, trading platforms such as Bloomberg, coding platforms such as PyCharm, and CRMs such as Salesforce.</li>
									<li>Develop and implement automated scripts using PowerShell and Bash to streamline tasks such as user and software provisioning.</li>
									<li>Administer Microsoft Office 365 suite, encompassing Exchange Online, SharePoint, and Teams, managing permissions, user modifications, and troubleshooting.</li>
									<li>Oversee backup operations using Veeam and Commvault, ensuring data integrity and executing recovery tasks as required.</li>
									<li>Manage Active Directory functions, including user creation, group policy implementation, DNS management, and replication troubleshooting.</li>
									<li>Configure and troubleshoot Cisco routers and switches to maintain network performance, security, and reliability.</li>
									<li>Handle configuration and troubleshooting of email filtering platforms like Proofpoint and Mimecast for enhanced email security and spam filtering.</li>
									<li>Maintain virtualization infrastructure including Azure, AWS, and VMWare, deploying virtual machines, managing resources, and addressing issues for optimal performance.</li>
								</ul>
							</div>
						
							<div class="job">
								<h2>Edge Technology Group / Thrive Networks</h2>
								<h3>Client Support Engineer</h3>
								<h4>June 2022 - March 2023</h4>
								<ul>
									<li>Provided technical support for various software applications including Microsoft Office 365, Bloomberg, PyCharm, and Salesforce.</li>
									<li>Supported the administration of Microsoft Office 365 suite, aiding in user management and issue resolution.</li>
									<li>Contributed to backup operations and data recovery tasks using Veeam and Commvault.</li>
									<li>Assisted with Active Directory functions and server configuration tasks.</li>
									<li>Aided in the configuration and troubleshooting of email filtering platforms for enhanced security.</li>
									<li>Supported the maintenance of virtualization infrastructure including Azure, AWS, and VMWare.</li>
								</ul>
							</div>
						
							<div class="job">
								<h2>Sourcepass</h2>
								<h3>Client Onboarding Manager</h3>
								<h4>October 2021 - June 2022</h4>
								<ul>
									<li>Managed a team specializing in new client onboardings, overseeing the entire process from initial documentation to implementation.</li>
									<li>Led onsite visits to document infrastructure and baseline client environments to Sourcepass’ standards.</li>
									<li>Implemented deep packet inspection on SonicWALL routers, enhancing network security and performance.</li>
									<li>Segmented networks using VLANs and implemented Quality of Service (QoS) measures to optimize network traffic.</li>
									<li>Facilitated email migration to Microsoft Office 365 (O365) when necessary, ensuring seamless transition and minimal disruption.</li>
									<li>Acted as the primary point of contact for all support during onboarding, providing timely assistance and troubleshooting.</li>
									<li>Personally performed a significant portion of the implementation work, ensuring high-quality standards and efficiency.</li>
									<li>Provided training to team members on implementation procedures and best practices, fostering skill development and knowledge sharing.</li>
									<li>Hosted kick-off calls with new clients to establish project timelines, goals, and expectations.</li>
									<li>Scheduled work assignments for both myself and team members, optimizing resource allocation and project efficiency.</li>
								</ul>
							</div>
						
							<div class="job last">
								<h2>Sourcepass</h2>
								<h3>Project Engineer</h3>
								<h4>August 2020 - October 2021</h4>
								<ul>
									<li>Assisted in new client onboardings, contributing to infrastructure documentation and project planning.</li>
									<li>Provided support for switch and router swaps, ensuring smooth transitions and minimal downtime for clients.</li>
									<li>Participated in server migrations, facilitating seamless transfers of data and applications.</li>
									<li>Collaborated on Microsoft Office 365 (O365) migrations, assisting with planning and execution to ensure successful transitions.</li>
									<li>Supported Intune and Multi-Factor Authentication (MFA) rollouts, enhancing security measures for clients' systems.</li>
									<li>Provided technical expertise and troubleshooting assistance during project implementation, ensuring client satisfaction and project success.</li>
								</ul>
							</div>
						
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Western Governor's University</h2>
							<h3>Bachelor of Science, Cloud Computing</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
			<div class="contact-info-bottom">
				<p>Jonathan Polansky &mdash; <a href="mailto:jon@jon-polansky.com">jon@jon-polansky.com</a> &mdash; (631) - 662-6400</p>
			</div>
		<div id="ft">
			<div class="visitor-counts">
				<p id="vc-first">The below values are dynamically updated. Note that unique visitors and your visits are determined by public IP.</p>
				<p>Total visits: <b id="visitor_count">0</b></p>
           		<p>Unique visitors: <b id="unique_visitors">0</b></p>
           		<p>You have visited this webpage <b id="user_visits">0</b> times.</p>
				<p id="error_message"></p>
			</div>
		</div><!--// footer -->

		<script>
			function connectToStatsStream() {
				var source = new EventSource("/stream");
		
				source.onmessage = function(event) {
					var data = JSON.parse(event.data);
					
					if (data.user_visits !== undefined) {
    					document.getElementById('user_visits').textContent = data.user_visits;
  					}
  					if (data.visitor_count !== undefined) {
    					document.getElementById('visitor_count').textContent = data.visitor_count;
  					}
  					if (data.unique_visitors !== undefined) {
    					document.getElementById('unique_visitors').textContent = data.unique_visitors;
  					}
				};
		
				source.onerror = function(event) {
					console.error("Error occurred in stream:", event);
					document.getElementById('error_message').innerText = 'Connection lost. Reconnecting...';
					setTimeout(connectToStatsStream, 3000);
				};
		
				window.addEventListener('beforeunload', function() {
					source.close();
				});
			}
		
			// Call the connectToStatsStream function when the page loads
			window.onload = function() {
				connectToStatsStream();
			};
		</script>

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

