- name: Create Flask log directory
  file:
    path: /var/log/flask
    state: directory
    owner: www-data
    group: www-data
    mode: '0750'

- name: Copy frontend files
  copy:
    src: frontend
    dest: /srv/
    force: true
  notify:
    - Set frontend folder permissions
    - Set resume permissions
    - Restart flaskapp service

- name: Copy flaskapp.service
  template:
    src: flaskapp.service
    dest: /etc/systemd/system/flaskapp.service
    force: true
  notify:
    - Reload systemctl daemon

- name: Copy disable-transparent-huge-pages.service
  copy:
    src: disable-transparent-huge-pages.service
    dest: /etc/systemd/system/disable-transparent-huge-pages.service
    force: true
  notify:
    - Reload systemctl daemon

- name: Enable disable-transparent-huge-pages.service
  service:
    name: disable-transparent-huge-pages
    state: started
    enabled: true

- name: Copy logrotate configuration
  copy:
    src: uwsgi-logrotate-{{ logs_path }}
    dest: /etc/logrotate.d/uwsgi-logrotate-{{ logs_path }}
    force: true